body {
  background-color: #f2cec9;
}

@font-face {
  font-family: 'TitilliumWeb-ExtraLight';
  src: url(./fonts/TitilliumWeb-ExtraLight.ttf)
}

@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url(./fonts/TitilliumWeb-Light.ttf)
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url(./fonts/TitilliumWeb-Regular.ttf)
}

h1 {
  font-family: TitilliumWeb-Regular;
  font-size: 80px;
}

h2 {
  font-family: TitilliumWeb-ExtraLight;
  font-size: 50px;
}

.nav-link {
  font-family: TitilliumWeb-ExtraLight;
  font-size: 19px;
  color: white !important;
}

.navbar {
  background-color: black;
  margin-top: 40px;
  height: 50px;
  padding: 0;
}

.navbar img {
  height: 90px;
  width: auto;
  margin-left: 50px;
}

.navbar-brand {
  padding : 0;
}

@media only screen and (max-width: 992px) {
  .navbar {
    height: auto;
  }
  .navbar img {
    margin-left: 0;
  }
  .navbarItems {
    margin-left: 14px !important;
  }
  .nav-link:nth-child(1) {
    padding-top: 0;
  }
}

.navbarItems {
  margin-right: 40px;
}

.navbarToggler {
  margin-right: 10px;
}

.container-fluid {
  margin-top: 40px;
  padding-left: 45px;
}

.handsImg {
  width: auto;
  height: 530px;
}

@media only screen and (max-width: 768px) {
  .handsImg {
    height: 330px;
  }
}

@media only screen and (min-width: 1700px) {
  .handsImg {
    height: 650px;
  }
}
